<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'css-variables' %}

    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preload" href="{{ 'style.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'style.css' | asset_url }}"></noscript>

    {% render 'meta-tags' %}
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" type="image/png" href="{{ 'cozy-wh-logo-32x.png' | asset_url }}">

    {{ content_for_header }}
  </head>
  <body class="secret-stash-page">
    {{ content_for_layout }}
  </body>
</html>
